@{
    ViewData["Title"] = "Inicio";
}

<div style="text-align: center; margin-top: 50px;">
    <h1>Bienvenido a mi página de Programación V</h1>
    <p>Soy Franco Corsi</p>
    <img src="~/images/AoE2.gif" alt="Imagen de ejemplo" style="width: 400px; margin-top: 20px;" />
</div>
